# Build folders
/build/
/cmake-build-debug/
/cmake-build-release/

# Compiled object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled libraries and executables
*.dll
*.so
*.dylib
*.exe
*.out

# Backup and temporary files
*~
*.swp
*.bak

# IDE and editor files
.vscode/
.idea/
*.code-workspace

# MacOS specific files
**/.DS_Store
.DS_Store

# Documentation build files
docs/api/
Doxyfile
